body {
    background-image: url("https://webneel.com/wallpaper/sites/default/files/images/08-2018/2-nature-wallpaper-grass.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
hr {
    color: rgba(0, 0, 0, 0.966);
}

.meu-formulario {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: end;
    background-color: rgba(71, 54, 54, 0.13);
}